/* line 4, ../scss/main.scss */
body {
  font-family: "Lato", sans-serif;
  background: #303030;
}

/* line 9, ../scss/main.scss */
h1 {
  padding: 5%;
  font-size: 40px;
  text-transform: uppercase;
  color: #fff;
  transition: all ease 0.4s;
  opacity: 0;
}

/* line 18, ../scss/main.scss */
#main {
  text-align: center;
}

/* line 22, ../scss/main.scss */
.btn {
  max-height: 100px;
  opacity: 0;
  display: inline-block;
  padding: 1% 3%;
  margin: 3% auto;
  text-align: center;
  text-transform: uppercase;
  font-family: "Lato", sans-serif;
  font-size: 20px;
  letter-spacing: 0.1em;
  outline: none;
  cursor: pointer;
}

/* line 37, ../scss/main.scss */
#gest {
  margin-left: 2%;
  margin-right: 2%;
  border: 4px solid #68BEF7;
  border-radius: 50px;
  background: #119AF5;
  color: #fff;
  transition: all ease 0.4s;
}

/* line 47, ../scss/main.scss */
#gest:hover {
  background: #fff;
  border-color: #B6DFFA;
  color: #68BEF7;
}
